<a href="https://colab.research.google.com/github/YajnaBopaiah/Data-Analytics-and-Machine-Learning-projects/blob/main/Data_Integration_and_Analysis_using_Insurance_data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Installing all the Required Packages:
!pip install Pandas 

!pip install sqlalchemy

!pip install pymysql

In [ ]:
#Importing the Packages:
import pandas as pd
import sqlalchemy as db
import pymysql
import datetime

### **1). EXTRACTING THE DATA :**

***We have two data files available(i.e.,Insurance details in xlsx and customer details in the txt format).***
***We intend to extract the data available in two different file formats and load into the Data Warehouse.***

In [ ]:
path1 = r'/content/Insurance_details.xlsx'
df_details = pd.read_excel(path1)

path2 = r'/content/Insurance_customer_details.txt'
df_customer_details = pd.read_excel(path2)

In [ ]:
df_details.head(3)

,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,53300,0,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,0,0,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,35100,0,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N

In [ ]:
df_customer_details.head(3)

In [ ]:
df_customer_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   months_as_customer       1000 non-null   int64
 1   policy_number            1000 non-null   int64
 2   Name                     1000 non-null   object
 3   Name#                    1000 non-null   object
 4   Unnamed: 4               925 non-null    object
 5   Unnamed: 5               1000 non-null   object
 6   age                      1000 non-null   int64
 7   insured_sex              1000 non-null   object
 8   insured_education_level  1000 non-null   object
 9   insured_occupation       1000 non-null   object
 10  insured_hobbies          1000 non-null   object
 11  insured_relationship     1000 non-null   object
dtypes: int64(3), object(9)
memory usage: 93.9+ KB

### **TRANSFORMING THE DATA:**

***Some of the basic transformations are performed as per the requirement of the Analysis.***

#####**1). Changing the months_as_customers to Yearly data as it will be more useful.**

In [ ]:
def months_yr(x):
  return round(x/12,0)

In [ ]:
df_customer_details['months_as_customer'] = months_yr(df_customer_details['months_as_customer'])
df_customer_details['months_as_customer']

0      27.0
1      19.0
2      11.0
3      21.0
4      19.0
       ...
995     0.0
996    24.0
997    11.0
998    38.0
999    38.0
Name: months_as_customer, Length: 1000, dtype: float64

#### **2). Transforming the Education Qualification into category:**

In [ ]:
df_customer_details['insured_education_level'].value_counts()

JD             161
High School    160
Associate      145
MD             144
Masters        143
PhD            125
College        122
Name: insured_education_level, dtype: int64

In [ ]:
df_customer_details['insured_education_level'] = df_customer_details['insured_education_level']\
                                                  .replace(['MD','Masters','PhD'],'Higher Education')

df_customer_details['insured_education_level'] = df_customer_details['insured_education_level']\
                                                  .replace(['Associate','JD','College'],'Mid-Level Education')


df_customer_details['insured_education_level'] = df_customer_details['insured_education_level']\
                                                  .replace('High School','Lower Education')

In [ ]:
df_customer_details['insured_education_level'].value_counts()

Mid-Level Education    428
Higher Education       412
Lower Education        160
Name: insured_education_level, dtype: int64

#### **3). Transforming the Incident States.**

In [ ]:
df_details['incident_state'] = df_details['incident_state']\
                                .replace(['SC','NC','NY','OH','PA','WV','VA'], 
                                         ['South California','North Carolina','New York', 'Ohio','Pennsylvania','West Virginia','Virginia'])

In [ ]:
df_details['incident_state'].value_counts()

New York            262
South California    248
West Virginia       217
Virginia            110
North Carolina      110
Pennsylvania         30
Ohio                 23
Name: incident_state, dtype: int64

In [ ]:
df_details['policy_state'].value_counts()

OH    352
IL    338
IN    310
Name: policy_state, dtype: int64

In [ ]:
df_details['policy_state'] = df_details['policy_state']\
                                .replace(['OH','IL','IN'], 
                                         ['Ohio','Illinois','Indiana'])

#### **4). Retriving Year and Months from Policy Bind Date:**

In [ ]:
df_details['Month_policybind'] = pd.DatetimeIndex(df_details['policy_bind_date']).month

In [ ]:
df_details['Year_policybind'] = pd.DatetimeIndex(df_details['policy_bind_date']).year

In [ ]:
df_details['Month_policybind'] = df_details['Month_policybind']\
                                  .replace([1,2,3,4,5,6,7,8,9,10,11,12],
                                           ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sep','Oct','Nov','Dec'])

In [ ]:
df_details['policy_bind_date']

0     2014-10-17
1     2006-06-27
2     2000-09-06
3     1990-05-25
4     2014-06-06
         ...
995   1991-07-16
996   2014-01-05
997   2003-02-17
998   2011-11-18
999   1996-11-11
Name: policy_bind_date, Length: 1000, dtype: datetime64[ns]

In [ ]:
df_details['Month_policybind'].value_counts()

Dec     95
Aug     93
July    91
Feb     90
Nov     85
Apr     83
Jan     83
June    80
Mar     79
Oct     78
Sep     74
May     69
Name: Month_policybind, dtype: int64

*Now, we will keep in the columns that are required and remove the one's which are not intended to be in Database.*

In [ ]:
df_customer_details.isnull().sum()

months_as_customer          0
policy_number               0
Name                        0
Name#                       0
Unnamed: 4                 75
Unnamed: 5                  0
age                         0
insured_sex                 0
insured_education_level     0
insured_occupation          0
insured_hobbies             0
insured_relationship        0
dtype: int64

In [ ]:
df_customer_details = df_customer_details.drop(['Name#','Unnamed: 4','Unnamed: 5'],axis = 1)
df_customer_details.isnull().sum()

months_as_customer         0
policy_number              0
Name                       0
age                        0
insured_sex                0
insured_education_level    0
insured_occupation         0
insured_hobbies            0
insured_relationship       0
dtype: int64

In [ ]:
df_details.isnull().sum()

policy_number                  0
policy_bind_date               0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
Year_policybind                0
Month_policybind               0
dtype: int64

In [ ]:
df_insurance = pd.concat([df_customer_details,df_details], axis = 1)
df_insurance.head(4)

,months_as_customer,policy_number,Name,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,policy_number,...,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,Year_policybind,Month_policybind
0,27.0,521585,Serafina I Bumgarner,48,MALE,Higher Education,craft-repair,sleeping,husband,521585,...,71610,6510,13020,52080,Saab,92x,2004,Y,2014,Oct
1,19.0,342868,Juliette M Rojo,42,MALE,Higher Education,machine-op-inspct,reading,other-relative,342868,...,5070,780,780,3510,Mercedes,E400,2007,Y,2006,June
2,11.0,687698,Milan F Krawczyk,29,FEMALE,Higher Education,sales,board-games,own-child,687698,...,34650,7700,3850,23100,Dodge,RAM,2007,N,2000,Sep
3,21.0,227811,Elmer R Jason,41,FEMALE,Higher Education,armed-forces,board-games,unmarried,227811,...,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,1990,May

In [ ]:
df_insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   float64
 1   policy_number                1000 non-null   int64
 2   Name                         1000 non-null   object
 3   age                          1000 non-null   int64
 4   insured_sex                  1000 non-null   object
 5   insured_education_level      1000 non-null   object
 6   insured_occupation           1000 non-null   object
 7   insured_hobbies              1000 non-null   object
 8   insured_relationship         1000 non-null   object
 9   policy_number                1000 non-null   int64
 10  policy_bind_date             1000 non-null   datetime64[ns]
 11  policy_state                 1000 non-null   object
 12  policy_csl                   1000 non-null   object
 13  policy_deductable            1000 non-null   int64
 14  policy_annual_premium        1000 non-null   float64
 15  umbrella_limit               1000 non-null   int64
 16  insured_zip                  1000 non-null   int64
 17  capital-gains                1000 non-null   int64
 18  capital-loss                 1000 non-null   int64
 19  incident_date                1000 non-null   datetime64[ns]
 20  incident_type                1000 non-null   object
 21  collision_type               1000 non-null   object
 22  incident_severity            1000 non-null   object
 23  authorities_contacted        1000 non-null   object
 24  incident_state               1000 non-null   object
 25  incident_city                1000 non-null   object
 26  incident_location            1000 non-null   object
 27  incident_hour_of_the_day     1000 non-null   int64
 28  number_of_vehicles_involved  1000 non-null   int64
 29  property_damage              1000 non-null   object
 30  bodily_injuries              1000 non-null   int64
 31  witnesses                    1000 non-null   int64
 32  police_report_available      1000 non-null   object
 33  total_claim_amount           1000 non-null   int64
 34  injury_claim                 1000 non-null   int64
 35  property_claim               1000 non-null   int64
 36  vehicle_claim                1000 non-null   int64
 37  auto_make                    1000 non-null   object
 38  auto_model                   1000 non-null   object
 39  auto_year                    1000 non-null   int64
 40  fraud_reported               1000 non-null   object
 41  Year_policybind              1000 non-null   int64
 42  Month_policybind             1000 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(18), object(21)
memory usage: 336.1+ KB

In [ ]:
df_insurance['months_as_customer']

0      27.0
1      19.0
2      11.0
3      21.0
4      19.0
       ...
995     0.0
996    24.0
997    11.0
998    38.0
999    38.0
Name: months_as_customer, Length: 1000, dtype: float64

### **3).LOADING THE DATA INTO THE DATABASE:**

***We will be creating a connection from python and loading this data into sql(Datawarehouse).***

In [ ]:
host = "localhost"
dbname = "Insurance_project"
uname = "root"
pwd = " "

In [ ]:
constring = "mysql+pymysql://{user}:{pwd}@{host}/{db}".format(host = host,db = dbname,user = uname,pwd = pwd)

In [ ]:
engine = db.create_engine(constring)
engine

Engine(mysql+pymysql://root:***@localhost/Insurance_project)

In [ ]:
meta = db.MetaData()

In [ ]:
Raw_Table = db.Table(
    'Raw_Table', meta,
    db.Column('months_as_customer', db.String),
    db.Column('policy_number', db.String(30)),
    db.Column('age', db.String(30)),
    db.Column('insured_sex', db.String(30)),
    db.Column('insured_education_level', db.String(30)),
    db.Column('insured_occupation', db.Integer),
    db.Column('insured_relationship', db.String(30)),  
    db.Column('First_Name', db.String(30)),
    db.Column('Middle_Name', db.String(30)),
    db.Column('Last_Name', db.String(30)),
    db.Column('policy_bind_date', db.Integer),
    db.Column('insured_hobbies', db.String(30)), 
    db.Column('policy_state', db.String(30)),
    db.Column('policy_csl', db.String(30)),
    db.Column('policy_deductable', db.String(30)),
    db.Column('policy_annual_premium', db.Integer),
    db.Column('umbrella_limit', db.String(30)),  
    db.Column('insured_zip', db.String(30)),
    db.Column('capital-gains', db.String(30)),
    
    db.Column('capital-loss', db.String(30)),
    db.Column('incident_date', db.Integer),
    db.Column('incident_type', db.String(30)),
    db.Column('collision_type', db.String(30)),  
    db.Column('incident_severity', db.String(30)),
    db.Column('authorities_contacted', db.String(30)),
    db.Column('incident_state', db.String(30)),
    
    db.Column('incident_city', db.String(30)),
    db.Column('incident_location', db.Integer),
    db.Column('incident_hour_of_the_day', db.String(30)),
    db.Column('number_of_vehicles_involved', db.String(30)),  
    db.Column('property_damage', db.String(30)),
    db.Column('bodily_injuries', db.String(30)),
    db.Column('witnesses', db.String(30)),
    db.Column('policy_number', db.String(30)),
    
    db.Column('police_report_available', db.String(30)),
    db.Column('total_claim_amount', db.Integer),
    db.Column('injury_claim', db.String(30)),
    db.Column('property_claim', db.String(30)),  
    db.Column('vehicle_claim', db.String(30)),
    db.Column('auto_make', db.String(30)),
    
    db.Column('auto_model', db.String(30)),
    db.Column('auto_year', db.String(30)),
    db.Column('fraud_reported', db.String(30))
    
)

In [ ]:
df_insurance.to_sql('Raw_Table', engine, index = False)

In [ ]:
df_insurance.head(3)

,months_as_customer,policy_number,Name,age,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,policy_number,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,Month_policybind
0,0.0,521585,Serafina I Bumgarner,48,MALE,Higher Education,craft-repair,sleeping,husband,521585,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,Oct
1,0.0,342868,Juliette M Rojo,42,MALE,Higher Education,machine-op-inspct,reading,other-relative,342868,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,June
2,0.0,687698,Milan F Krawczyk,29,FEMALE,Higher Education,sales,board-games,own-child,687698,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,Sep

***This above merged dataframe is then imported and then loaded into a datawarehouse, followed by which 3 separate Data Marts were created namely 'policy_details', 'customer_details' and 'incident_details'.***

***An Analysis was performed on top this dataset by creating a connection to Tableau using MySQL. The output of this project is to have an interactive dashboard which could display all the details of the customers/policy holders in just one click.(i.e., By entering the policy holder number)***